@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Lobster&family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@font-face{
    font-family: 'digital-7';
    src:url('digital-7.ttf')
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #FF4B5C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stop-clock{
    background-color: #E0ECE4;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    user-select: none;
    cursor: pointer;
    
}
.frame{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.hrs,.min,.sec,.ms{
    width: 50px;
    height: 50px;
    
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 200px;
    padding: 10px;
    color: rgba(0, 0, 0, .8);
    font-family: 'digital-7';
}
.colon{
    line-height: 200px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    font-family: 'digital-7';
    
}
.button{
    display: flex;
    justify-content: center;
    margin:50px;
    margin-right: 5px;
}
.button .start,.stop,.reset{
    margin-right: 27px;
    margin-top: 80px;
    height: 45px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: #fff;
    font-size: 15px;
}
.start{background-color: #54B435;}
.stop{background-color: #C70039;}
.reset{background-color: #071952;}
.button .start:hover,.stop:hover,.reset:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
h2{
    margin-top: 50px;
    text-align: center;
}

.colon{
    width: 10px;
    height: 50px;
}
.start-active,
.stop-active{
    pointer-events: none;
    opacity: .5;
}